$('#articles').append('<%= j render(@articles) %>');
<% if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: h("<"), next_label: h(">") %>');
  <% sleep 1 %>
<% else %>
  $('.pagination').remove();
<% end %>