
<div class="blog-header">
  <h1 class="blog-title">The Codeplace Blog</h1>
  <p class="lead blog-description">Where great software stories are told</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
    <div id="articles">
      <%= render @articles %>
    </div>
    <div class="text-center will-pagination">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: h("<"), next_label: h(">") %>
    </div>
  </div><!-- /.blog-main -->
</div><!-- /.row -->
