<!DOCTYPE html>
<html>
  <head>
    <title>Codeplace Blog V1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= render partial: "layouts/flash_messages", locals: { flash: flash } %>
      <%= yield %>
    </div>
  </body>
</html>
